---
layout: null
---
<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url={{ site.url }}">
        <script type="text/javascript">
            window.location.href = "{{ site.url }}"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow the <a href='{{ site.url }}'>link to {{ site.url }}</a>
    </body>
</html>
