<div id="comments">
	{% case page.comment_count %}
		{% when 0 %}
		{% when 1 %}
			<h3>1 Comment</h3>
		{% else %}
			<h3>{{page.comment_count}} Comments</h3>
	{% endcase %}
	{% for c in page.comments %}
		<div class="comment {% cycle 'odd', 'even' %}">
			<p class="comment_header">
				From: {% if c.link and c.link != '' %}
					<a href="{{c.link}}">{{c.name}}</a>
				{% else %}
					{{c.name}}
				{% endif %}
				<br />
				<span class="comment_date">{{c.date}}</span>
			</p>
			<div class="comment comment_body">
			    <p>
				    {{c.comment | newline_to_br}}
			    </p>
			</div>
		</div>
	{% endfor %}
	<h3>Post a comment</h3>
	<p style="font-style: italic">
		All comments are held for moderation; basic HTML formatting accepted.
	</p>
	<form id="commentform" method="POST" action="{{'/d/commentsubmit.php' | prepend: site.baseurl}}">
		<input type="hidden" name="post_id" value="{{page.id}}" />
		<input type="hidden" name="return_url" value="{{page.url | prepend: site.baseurl | prepend: site.url }}" />
		<table>
			<tr>
				<th>Name:</th>
				<td><input class="com-text" type="text" size="25" name="name" /> (required)</td>
			</tr>
			<tr>
				<th>E-mail:</th>
				<td><input  class="com-text" type="text" size="25" name="email" /> (required, not published)</td>
			</tr>
			<tr>
				<th>Website:</th>
				<td><input  class="com-text" type="text" size="25" name="link" /> (optional)</td>
			</tr>
			<tr>
				<th>7 + 9?</th>
				<td><input  class="com-text" type="text" size="25" name="test" /> (required)</td>
			</tr>
			<tr>
				<td colspan="2"><textarea  class="com-text" name="comment" rows="5" cols="60" ></textarea></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="submit" id="submit" value="Submit Comment" /></td>
			</tr>
		</table>
	</form>
</div>
