<footer>
    <div class="container">
        <div class="row p20">
            {% if site.copyright.name %}
            <div class="col-md-9 text-left mt25">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="cc"><img src="{{ '/res/img/cc-cc.png' | prepend: site.baseurl }}" class="cc" alt="Creative Commons">
        <img src="{{'/res/img/cc-by.png' | prepend: site.baseurl }}" class="cc" alt="Creative Commons - Attribution"></a>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution License</a>
      </div>

            <!--    <div class="col-md-4 text-center mt25">All rights reserved by <a target="_blank" href="{{site.copyright.link}}">{{site.copyright.name}}</a></div>-->
            {% endif %}

            <div class="col-md-3 text-right mt25" >
                {% if site.built-by %}
                <!--<a target="_blank" href="http://webjeda.com"><img src="https://img.shields.io/badge/Built%20by-webjeda-blue.svg" alt="{{site.built-by}}"></a>
                -->{% endif %}
            </div>
            <div class="col-md-3 text-center mt25">
               <a href="{{ '/feed.xml' |prepend: site.baseurl }}">RSS</a> - <a href="{{ '/atom.xml' |prepend: site.baseurl }}">Atom</a> - <a href="{{ '/about/#site' |prepend: site.baseurl }}">More</a>
            </div>

        </div>
    </div>
</footer>
