<div class="share-page">
    <span class="share-text">Share this on &rarr;</span>
	<div class="share-buttons">
	<a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape}}&amp;related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src={{ '/res/img/shr/twit.png' | prepend: site.baseurl}} alt="Twitter icon"/></a>
	<a href="https://facebook.com/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src={{ '/res/img/shr/face.png' | prepend: site.baseurl}} alt="Facebook icon"/></a>
	<a href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}" rel="nofollow" target="_blank" title="Share on Google+"><img src={{ '/res/img/shr/plus.png' | prepend: site.baseurl}} alt="Google+ icon"/></a>
	<a href="http://pinterest.com/pin/create/button/?url={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}&amp;description={{ page.title | uri_escape }}" rel="nofollow" target="_blank" title="Share on Pinterest"><img src={{ '/res/img/shr/pint.png' | prepend: site.baseurl}} alt="Pinterest icon" /></a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}&amp;title={{ page.title | uri_escape }}&amp;summary={{ page.summary | uri_escape}}&amp;source={{ site.url | uri_escape }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><img src={{ '/res/img/shr/link.png' | prepend: site.baseurl}} alt="LinkedIn icon"/></a>
	<a href="http://www.tumblr.com/share/link?url={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}&amp;name={{ page.title | uri_escape }}&amp;description={{ page.summary | uri_escape}}" rel="nofollow" target="_blank" title="Share on Tumblr"><img src={{ '/res/img/shr/tumb.png' | prepend: site.baseurl}} alt="tubmlr icon"/></a>
	<a href="http://www.reddit.com/submit?url={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}&amp;title={{ page.title | uri_escape }}" rel="nofollow" target="_blank" title="Share on Reddit"><img src={{ '/res/img/shr/redd.png' | prepend: site.baseurl}} alt="Reddit icon"/></a>
	</div>
</div>
