    {% if page.tags != empty %}
    <div class="tags">
    Tags:
      {% for aTag in page.tags %}
         <a href="/tags/{{ aTag | uri_escape}}">{{ aTag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}  
    </div>
    {% endif %}

