.navbar-brand {
    img {
        display: inline;
    }
}

footer {
    img.cc {
        display: inline-block;
        vertical-align: -0.2em;
        border: none;
        width:1em;
        height:1em;
        opacity:0.4;
    }
}

/* Share */
div.share-page {
	text-align:center;
	font-family: helvetica, sans-serif;
	border-top: solid 2px rgba(0,0,0,0.4);
	border-bottom: solid 2px rgba(0,0,0,0.4);
	padding-top: 5px;
	padding-bottom:5px;
}

span.share-text{
  display: inline;
  line-height:32px;
}

div.share-buttons{
  display: inline-block;
}

div.share-buttons a{
  display: inline-block;
}

div.share-buttons img{
  margin: 0px 5px;
}

/* Comments */
div.comment {
  padding: 1em;
}
p.comment_header {
  background: #fdfdfd;
}
div.comment_body br{
  line-height:150%;
  display:block;
  margin:0.5em;
}
div.odd {
  background: #f1f1f1;
}
div.even {
  background: #fafafa;
}


/* About me */
div.my-picture {
  float:right;
  padding:0px;
  margin-left:1em;
}
div.my-picture img {
  margin-top:3px;
  margin-bottom:10px;
  border-radius:5px;
}
div.my-picture p {
  font-size:70%;
  margin:0px auto;
  text-align:center;
  font-style: italic;
  font-weight:lighter;
}


/* For review */
div.compare-box {
  padding:5px;
  border:solid 1px #dddddd;
}

div.compare-box span {
  padding:5px;
}

div.gallery-box {
  padding:5px;
  border:solid 1px #dddddd;
  display:table;
  table-layout:fixed;
}

div.gallery-box span {
  display:table-cell;
  padding:5px;
}
