---
layout: page
title: Comment Received
---
<h1>Comment Received</h1>
<p>Thank you for your comment. It will be reviewed and published shortly. Check your spam folder or the page you have commented on soon.</p>
<?php if (isset($_POST['return_url']))
{
	echo '<p>You are now returning to the page you were on. If you are not redirected automatically, follow the link.</p>';
	echo '<p><a href="'. $_POST['return_url'] .'">'.$_POST['return_url'].'</a></p>';
	echo '<script type="text/javascript">';
	echo 'setTimeout(function() { window.location.replace("' . $_POST['return_url'] . '"); }, 5000);';
	echo '</script>';
} ?>  
	

