---
layout: compress
---
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    

  <script src="{{site.baseurl}}/js/jquery-1.12.2.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  </body>

</html>
