---
layout: default
---
<div class="row">
<div class="col-md-8">
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
<!--</div>
{% include sidebar.html %}
</div>
-->
