---
layout: default
---
<div class="row">
<div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

    </article>
    <div class="row">
        {% if site.disqus-shortname %}
         {% include disqus.html %}
        {% endif %}
    </div>
    <div class="row">
        {% include tags.html %}
    </div>
    <div class="row p20">
        {% include share-buttons.html %}
    </div>
    <div class="row p20">
        {% include comment_template.html %}
    </div>


    <div class="row">
            <ul class="pager">
             {% if page.next.url %}
                    <li><a class="next" href="{{page.next.url | prepend: site.baseurl}}">&laquo; {{page.next.title}}</a></li>
              {% endif %}
              {% if page.previous.url %}
                <li><a class="previous" href="{{page.previous.url | prepend: site.baseurl}}">{{page.previous.title}} &raquo;</a></li>
              {% endif %}
            </ul>
    </div>
</div>


{% include sidebar.html %}

</div>

